SHARED_PG_HOST=host.docker.internal
SHARED_PG_PORT=5432
SHARED_PG_USER=app_admin
SHARED_PG_PASSWORD=

SUPA_PG_HOST=host.docker.internal
SUPA_PG_PORT=5434
SUPA_PG_USER=postgres
SUPA_PG_PASSWORD=
SUPA_PG_DB=postgres
